@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #16222A;
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  background: linear-gradient(to left, #3A6073, #16222A);
  height: 100vh;
}